<form class='separarTitulo' ng-submit="submit()">
    <div class='centrarLogin col-lg-offset-3 col-lg-6'>
        <img src="img/header-contact-1.jpg" alt="..." class="img-rounded logoSenaNegro">
        <label>oso maduro</label>
        <div class="form-group usuariotex row col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-5">
            <label for="exampleInputEmail1" class="col-lg-3 col-sm-2"><i class="fa fa-user-circle icono" aria-hidden="true"></i></label>
            <input ng-model="datos.usuario" type="Text" class="colorTexbox col-lg-6 col-sm-5" id="usuario" placeholder="Usuario" required>
        </div>
        <div class="form-group contrasenatex row col-lg-offset-3 col-lg-6">
            <label for="exampleInputPassword1" class="col-lg-3 col-sm-2"><i class="fa fa-lock icono" aria-hidden="true"></i></label>
            <input ng-model="datos.contrasena" type="password" class="colorTexbox col-lg-6 col-sm-5" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>

        <!--    <div class="alert alert-danger" style="margin-top: 40px;" ng-show="usuarioErroneo">
              Usuario inválido
            </div>-->

        <div class="col-lg-offset-3 col-lg-6">
            <center><button type="submit" class="btn btn-info">Iniciar</button></center>
        </div>
    </div>

</form>
