/*------------------------------Formulario Registro Usuarios---------------------------------------*/

.principal{
    text-align: center;
}

.contenedorPrincipal{
    /*border: 2px solid gray;*/
    padding: 1vh;
}

.formulariopersonal{
    margin-top: 1vh;
    /*border: 2px solid background;*/
}

.botonesaplicacion{
    /*border:  2px solid greenyellow;*/
    margin-top: 5vh;
    font-size: 10vh;
    color: royalblue;
}

/*--------------------------------------Login---------------------------------------------------*/

.imglogin{
    width: 101%; 
    height: 105%;
}
.centrarLogin{
    /*margin: 0 auto 0 auto;*/ 
    border-radius: 2px;
    border: 2px solid darkgray;
    margin-top: 8vh;
}

.usuariotex{
    text-align: center;
    margin-top: 4vh;
}
.contrasenatex{
    text-align: center;
    margin-top: 1vh;
}

.colorTexbox{
    font-size: 2vh;
    border-width:0;
    border-bottom: 1px solid darkgray;
    font-family: cursive, Verdana, Arial;
}

.icono{
    font-size: 4vh;
    margin-right: -4vh;
    padding-right: -4vh;
}

.btn-info{
    font-size: 2vh;
}

.msgerror{
    margin-top: 1vh;
}