/*------------------------------Formulario Principal---------------------------------------*/

.principal{
  text-align: center;
}
/*estilo para la imagen de inicio*/
#demo03{
  font-family: serif;
  font-size: 50px;;
  margin-bottom:  50px;
}

.hover03 figure img {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover03 figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.imagencrm{
  margin-top: 100px;
}

.hover03 figure {
	position: relative;
}
.hover03 figure::before {
	position: absolute;
/*	top: 50%;
	left: 50%;*/
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover03 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}


/*--------------------------------------Formulario Usuarios--------------------------------------------------------*/
.contenedorPrincipal{
  /*border: 2px solid gray;*/
  padding: 1vh;
}

.formulariopersonal1{
  /*padding: 1vh;*/
  padding-right: 1vh;
  /*border: 2px solid background;*/
}

.botonesaplicacion{
  /*border:  2px solid greenyellow;*/
  margin-top: 1vh;
  font-size: 5vh;
  color: royalblue;
  height: 5vh;
}

.btnElTabla{
  cursor: pointer;
  font-size: 25px;
  color: dodgerblue;
}

.msgsuccess{
  margin-top: -1vh;
  margin-bottom: 1vh;
  text-align: center;
}

.tablausers{
  height: 78vh;
}

/*--------------------------------------Login---------------------------------------------------*/

.imglogin{
  width: 101%;
  height: 105%;
}
.centrarLogin{
  /*margin: 0 auto 0 auto;*/
  border-radius: 2px;
  border: 2px solid darkgray;
  margin-top: 8vh;
}

.usuariotex{
  text-align: center;
  margin-top: 4vh;
}
.contrasenatex{
  text-align: center;
  margin-top: 1vh;
}

.colorTexbox{
  font-size: 2vh;
  border-width:0;
  border-bottom: 1px solid darkgray;
  font-family: cursive, Verdana, Arial;
}

.icono{
  font-size: 4vh;
  margin-right: -4vh;
  padding-right: -4vh;
}

.btn-info{
  font-size: 2vh;
}

.msgerror{
  margin-top: 1vh;
}

/*--------------------------------------------Formulario Empresas------------------------------------*/

.imgTEmpresas{
  width:60px;
  height:40px;
}
