.text-capitalize{
  font-size: 30px;
}
.subrayado{
  border-bottom: 1px solid;
}
.divform{
  margin-top: 20px;
}
.formulariobotones{
  float: right;
}
.texto{
  margin-top: 1px;
}
.textoeditarproyecto{
  font-size: 20px;
}
.contenedor{
  height: calc(90vh - 244px);
  overflow: auto;
}